* {
	box-sizing: border-box;
	font-family: "Varela Round", sans-serif;
	font-size: 20px;
}

.container {
	display: flex;
}

.grid {
	display: grid;
}

a {
	text-decoration: none;
	color: inherit;
	&:hover {
		cursor: pointer;
	}
}

.super {
	height: 100vh;
	width: 100vw;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: 10% 90%;
}

main {
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 1;
	padding-top: 40px;
}

.mobileComingSoon {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: white;
	padding: 20%;
	background-color: rgba(0, 0, 0, 0.99);
	font-size: 50px;
	z-index: -9999999;
	transition: 0.2s ease-in;
	opacity: 0;
}

@media only screen and (max-width: 1430px) and (-webkit-min-device-pixel-ratio: 1) {
}
